.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.someStyle {
  color: darkblue;
  text-decoration: underline;
}

.container-style {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0rem;
}
