<!--El ngClass es una directiva de Angular que agrega y elimina clases CSS en un elemento HTML. Todo de manera dinámica. -->

<div class="container">
  <h1 [ngClass]="{ someStyle: true }">NgClass</h1>
  <hr />

  <button (click)="changeNgClass()">Cambiar color con NgClass</button>
  <div class="container-style">
    <p [ngClass]="{ red: numberProperty == 0, blue: numberProperty == 2, green: numberProperty == 5 }">
      {{ numberProperty }}
    </p>

    <p [ngClass]="getClass(numberProperty)">{{ numberProperty }}</p>
  </div>
</div>
