<div class="principal-container">
  <app-component-projected>
    <h1 #titleRef>Projected H1 Content</h1>
    <h2 #titleRef>Projected H2 content</h2>
    <h3 #titleRef>Projected H3 content</h3>
    <h4 #titleRef>Projected H4 content</h4>
    <h5 #titleRef>Projected H5 content</h5>
    <h6 #titleRef>Projected H6 content</h6>

    <hr />
    <p>Projected content is the content that is passed to the component from the parent component.</p>

    <div #appRef container>
      <h1 #titleRef>Título envuelto en un contenedor</h1>
      <!-- <h1 #titleRef>Otro título envuelto en un contenedor</h1> -->
      <p>Párrafo envuelto en un contenedor</p>
    </div>
  </app-component-projected>
</div>
