<app-navbar></app-navbar>

<div class="container">
    <h1> RXJS | Prácticas </h1>
    <hr>

    <button (click)="createNinja()">Crea un ninja</button>

    <div>
        <app-ninja
            class="ninja"
            [ninja]="ninja"
            *ngFor="let ninja of ninjas; let i = index;"
            (addNinjaEvent)="addNinja($event)"
            (editNinjaEvent)="editNinja($event)"
            (deleteNinjaEvent)="deleteNinja($event)"
            (ninjaDetailEvent)="showDetailNinja($event)"
        ></app-ninja>
    </div>

    <button (click)="loadMore()">Cargar más</button>
</div>

<div *ngIf="ninjas">
    <swiper
        [config]="config"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()"
    >
        <ng-template swiperSlide *ngFor="let ninja of arrayFake">
            <img [src]="ninja" style="width: 100%">
        </ng-template>
    </swiper>
</div>

<div class="ninja-detail" [class.active]="showNinjaDetail" *ngIf="ninjaSelected">
    <div class="ninja-detail-card">
        <h1> {{ ninjaSelected.name }} </h1>
        <p> {{ ninjaSelected.phrase }} </p>
        <button (click)="toggleNinjaDetail()">Close</button>
    </div>
</div>