.container {
  margin: 3rem;
}

.ninja {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
  padding: 1rem;
}

.ninja-detail-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: fit-content;
}

.ninja-detail {
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 50%;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  transition: all ease-out 0.5s;
  top: 0;

  &.active {
    transform: translateX(0);
  }
}
