.container-style {
  margin-top: 1rem;
  padding: 0rem 2rem;
  width: fit-content;
}

.classActive {
  margin: 1rem 0rem;
}

.active {
  background-color: green;
  margin: 1rem 0rem;
  padding: 0rem 2rem;
  width: fit-content;
}
