<div class="container">
  <h1>Query Params</h1>
  <hr />

  <input
    placeholder="Escribe algo para llamar el evento keyup.enter..."
    style="width: 100%"
    [(ngModel)]="inputText"
    (keyup.enter)="sendText(inputText)" />

  <div style="display: flex; justify-content: space-between; margin: 1rem 0rem">
    <button (click)="onOtherPage()">Other page component</button>

    <button (click)="onPageParams(inputText)">Page params</button>

    <button routerLink="/tasks/page" [queryParams]="{ name: 'Ricardo', last_name: 'Badillo', params: 'Desde HTML' }">
      Query Params
    </button>

    <button (click)="onPage()">Page component</button>
  </div>

  <p *ngIf="error">{{ errorText }}</p>
</div>
